<section class="info-text">
    <h3>KeepSafe's validation tool has found some problems with the translation</h3>
    <p>
        The elements on the left show the reference text, the elements on the right the translation.<br /> The elements that
        are missing are highlighted in green, the ones which are unnecessary are highlighted in red. <br /> The tool is not
        always 100% accurate, sometimes it might show things that are correct as errors if there are other errors in the
        text. <br /> Please correct the errors you can find first. If you think the text is correct and the tool is still
        showing errors please contact KeepSafe's employee.
    </p>
</section>

<section>
    {{#if url_errors}}
    <h2>Broken URLs</h2>
    <ol class="url-errors">
        {{#each url_errors}}
        <li>
            <ul>
                <li><code>{{url}}</code></li>
                <li>Status: <b>{{status_code}}</b></li>
                <li>Has disallowed chars: <b>{{#if has_disallowed_chars}}Yes{{else}}No{{/if}}</b></li>
            </ul>
        </li>
        {{/each}}
    </ol>
    {{/if}}
</section>

<section>
    {{#if md_error}}
    <table class="diff" cellspacing="0" cellpadding="0" rules="groups" width="600">
        <colgroup></colgroup>
        <colgroup></colgroup>
        <colgroup></colgroup>
        <colgroup></colgroup>
        <colgroup></colgroup>
        <colgroup></colgroup>

        <thead>
            <tr>
                <td width="100%" colspan="2">{{md_error.filename}}</td>
            </tr>
            <tr>
                <td width="50%">{{md_error.base.path}}</td>
                <td width="50%">{{md_error.other.path}}</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td width="50%">
                    <p id="left_html">{{{md_error.base.html}}}</p>
                </td>
                <td width="50%">
                    <p id="right_html">{{{md_error.base.html}}}</p>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <p id="left_diff">{{{md_error.base.diff}}}</p>
                </td>
                <td width="50%">
                    <p id="right_diff">{{{md_error.other.diff}}}</p>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="error_messages">
        {{#each error_messages}} {{.}}
        <br/> {{/each}}
    </div>
    {{/if}}
</section>

<a class="section-link" href="{{section_link}}" target="_blank">Go to section</a>
